<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- judul website -->
        <title>Binar Challange</title>

        <!-- panggil file css -->
        <link rel="stylesheet" href="/public/css/reset.css" />
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
        <!-- halaman ke-1 -->
        <div id="page-one">
            <!-- navigasi bar -->
            <nav class="nav-bar-container">
                <!-- navigasi bar - logo -->
                <div class="nav-bar-logo">
                    <a href="">Logo</a>
                </div>

                <!-- navigasi bar - tengah -->
                <div class="nav-bar-center">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Work</a></li>
                        <li><a href="">About Me</a></li>
                    </ul>
                </div>

                <!-- navigasi bar - kanan -->
                <div class="nav-bar-right">
                    <ul>
                        <li><a href="signup">Sign Up</a></li>
                        <li><a href="login">Login</a></li>
                    </ul>
                </div>
            </nav>

            <!-- jumbotron -->
            <div class="jumbotron-containter">
                <h1>Play Traditional Game</h1>
                <br /><br />
                <h4>Experience new traditional game play</h4>
                <br /><br />
                <button>
                    <a href="game">Play Now</a>
                </button>
            </div>

            <!-- navigasi ke halaman selanjutnya - the story -->
            <div class="the-story-button">
                <button>
                    <a href="#page-two">
                        The Story<br />
                        <img
                            src="/assets/svg/index/scroll-down.svg"
                            alt="scroll-down"
                        />
                    </a>
                </button>
            </div>
        </div>

        <!-- halaman ke-2 - the story -->
        <div id="page-two">
            <!-- konten container -->
            <div class="page-two-containter">
                <!-- konten sisi kiri -->
                <div class="page-two-left">
                    <h4>What's so special?</h4>
                    <h1>The Games</h1>
                </div>

                <!-- konten sisi kanan -->
                <div class="page-two-right">
                    <img
                        src="assets/img/index/rock-paper-scissors.jpg"
                        alt="rock-paper-scissors"
                    />
                </div>
            </div>
        </div>

        <!-- halaman ke-3 - game features -->
        <div id="page-three">
            <div class="page-3-containter">
                <!-- konten sisi kiri -->
                <div class="page-three-left"></div>

                <!-- konten sisi kanan -->
                <div class="page-three-right">
                    <h4>What's so special?</h4>
                    <h1>Features</h1>
                    <br />
                    <ul>
                        <li><h3>Traditional Games</h3></li>
                        <p>
                            If you miss your childhood, we provide<br />
                            many traditional games hear
                        </p>
                        <br /><br />
                        <li><h3>Game Suit</h3></li>
                        <br />
                        <li><h3>TBD</h3></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- halaman ke-4 - system requirements -->
        <div id="page-four">
            <div class="page-four-title">
                <h4>Can My Computer Run This Game?</h4>
            </div>

            <!-- konten sisi kiri -->
            <div class="page-four-coantainer">
                <div class="page-four-left">
                    <div>
                        <h1>System<br />Requirements</h1>
                    </div>
                </div>
            </div>

            <!-- tabel system requirements -->
            <div class="layout-grid-contaitner">
                <div class="layout-grid-left">
                    <div class="grid-item item-1">
                        <h4>OS:</h4>
                        <p>
                            Windows 7 64-bit only<br />
                            (No OSX support at this time)
                        </p>
                    </div>
                    <div class="grid-item item-2">
                        <h4>Processor:</h4>
                        <p>
                            Intel Core 2 Duo @2.4 GHZ or<br />
                            AMD Athlon X2 @2.8 GHZ
                        </p>
                    </div>
                    <div class="grid-item item-3">
                        <h4>Memory:</h4>
                        <p>4 GB RAM</p>
                    </div>
                    <div class="grid-item item-4">
                        <h4>Storage:</h4>
                        <p>8 GB availabe spage</p>
                    </div>
                    <div class="grid-item item-5">
                        <h4>Graphics:</h4>
                        <p>
                            NVIDIA GeForce GTX 660 2GB or<br />
                            AMD Radeon HD 7850 2 GB DirectX11 (Shader Model 5)
                        </p>
                    </div>
                </div>

                <!-- konten sisi kanan -->
                <div class="layout-grid-right"></div>
            </div>
        </div>

        <!-- halaman ke-5 - quotes -->
        <div id="page-five">
            <!-- konten sisi kiri -->
            <div class="page-five-left">
                <h1>Top Socres</h1>
                <br />
                <p>
                    This top score from various game provide<br />
                    on this platform
                </p>
                <br />
                <button>see more</button>
            </div>

            <!-- konten sisi kanan -->
            <div class="page-five-right">
                <!-- card 1 -->
                <div id="card-1">
                    <div class="card-containter-1">
                        <div class="card-1-top">
                            <div class="card-1-top-left">
                                <div class="photo-profile">
                                    <img
                                        src="/assets/img/index/user-1.jpg"
                                        alt="user-1"
                                    />
                                </div>
                            </div>
                            <div class="card-1-top-center">
                                <h3>Evan Lathi</h3>
                                <h5>PC Gamer</h5>
                            </div>
                            <div class="card-1-top-right">
                                <img
                                    src="/assets/svg/index/twitter.svg"
                                    alt="twitter"
                                />
                            </div>
                        </div>
                        <div class="card-1-bottom">
                            <p>"One of my gaming highlights of the year."</p>
                            <h5>June 18, 2021</h5>
                        </div>
                    </div>
                </div>

                <!-- card 2 -->
                <div id="card-2">
                    <div class="card-containter-2">
                        <div class="card-2-top">
                            <div class="card-2-top-left">
                                <div class="photo-profile">
                                    <img
                                        src="/assets/img/index/user-2.jpg"
                                        alt="user-2"
                                    />
                                </div>
                            </div>
                            <div class="card-2-top-center">
                                <h4>Jada Griffin</h4>
                                <h5>Nerdrector</h5>
                            </div>
                            <div class="card-2-top-right">
                                <img
                                    src="/assets/svg/index/twitter.svg"
                                    alt="twitter"
                                />
                            </div>
                        </div>
                        <div class="card-2-bottom">
                            <p>
                                “The next big thing in the world of streaming
                                and survival games.”
                            </p>
                            <h5>July 10, 2021</h5>
                        </div>
                    </div>
                </div>

                <!-- card 3 -->
                <div id="card-3">
                    <div class="card-containter-3">
                        <div class="card-3-top">
                            <div class="card-3-top-left">
                                <div class="photo-profile">
                                    <img
                                        src="/assets/img/index/user-3.jpg"
                                        alt="user-1"
                                    />
                                </div>
                            </div>
                            <div class="card-3-top-center">
                                <h3>Aaron Williams</h3>
                                <h5>Uproxx</h5>
                            </div>
                            <div class="card-3-top-right">
                                <img
                                    src="/assets/svg/index/twitter.svg"
                                    alt="twitter"
                                />
                            </div>
                        </div>
                        <div class="card-3-bottom">
                            <p>
                                “Snoop Dogg Playing The Wildly Entertaining
                                'SOS' Is Ridiculous.”
                            </p>
                            <h5>December 24, 2018</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- halaman ke-6 - newsletter subscriber -->
        <div id="page-six">
            <div class="page-six-content-containter">
                <!-- konten sisi kiri -->
                <div class="page-six-content-left">
                    <img src="/assets/img/index/skull.png" alt="skull" />
                </div>

                <!-- konten sisi kanan -->
                <div class="page-six-content-right">
                    <h4>Want to stay in<br />touch?</h4>
                    <h1>newsletter<br />subscribe</h1>
                    <p>
                        In order to start receiving our news, all you have to do
                        is enter your email<br />
                        address. Everything else will be taken care of by us. We
                        will send you emails<br />
                        containing information about game. We don't spam.
                    </p>

                    <!-- form email -->
                    <form>
                        <input
                            class="input-email"
                            type="email"
                            id="email"
                            name="email"
                            placeholder="Input your e-mail"
                            required
                        />
                        <button class="submit-email">Subscribe now</button>
                    </form>
                </div>
            </div>

            <!-- footer container -->
            <div class="nav-bar-footer-containter">
                <!-- footer sisi atas -->
                <div class="nav-bar-footer">
                    <ul>
                        <li><a href="#page-one">Home</a></li>
                        <li><a href="#page-two">About</a></li>
                        <li><a href="#page-three">Game Features</a></li>
                        <li><a href="#page-four">System Requirments</a></li>
                        <li><a href="#page-five">Quotes</a></li>
                        <li>
                            <a href=""
                                ><img
                                    src="/assets/svg/index/facebook.svg"
                                    alt="facebook"
                            /></a>
                        </li>
                        <li>
                            <a href=""
                                ><img
                                    src="/assets/svg/index/twitter.svg"
                                    alt="twitter"
                            /></a>
                        </li>
                        <li>
                            <a href=""
                                ><img
                                    src="/assets/svg/index/youtube.svg"
                                    alt="youtube"
                            /></a>
                        </li>
                        <li>
                            <a href=""
                                ><img
                                    src="/assets/svg/index/twitch.svg"
                                    alt="twitch"
                            /></a>
                        </li>
                    </ul>
                </div>

                <div>
                    <hr />
                </div>

                <!-- footer sisi bawah -->
                <div class="footer-containter">
                    <div class="footer-left">
                        <h5>© 2018 Your Games, Inc. All Right Reserved</h5>
                    </div>
                    <div class="footer-right">
                        <ul>
                            <li>
                                <a href="">Privacy Policy</a>
                            </li>
                            <li>
                                <p>|</p>
                            </li>
                            <li>
                                <a href="">Terms of Services</a>
                            </li>
                            <li>
                                <p>|</p>
                            </li>
                            <li>
                                <a href="">Code of Conduct</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- panggil file java script -->
        <script></script>
    </body>
</html>
